trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

parameters:
  - name: environment
    displayName: "Environment"
    type: string
    default: "qa"
    values:
      - qa
      - prod

steps:
  - checkout: self
    persistCredentials: true

  # Install Terraform (Correct task name)
  - task: TerraformInstaller@1
    inputs:
      terraformVersion: 'latest'

  # Terraform Init
  - task: TerraformTaskV4@4
    displayName: Terraform Init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: 'terraform'
      backendServiceArm: 'Visual Studio Professional Subscription-LS'
      backendAzureRmResourceGroupName: 'tfstate-rg'
      backendAzureRmStorageAccountName: 'tfstatestoracct01'
      backendAzureRmContainerName: 'tfstate'
      backendAzureRmKey: '$(parameters.environment).tfstate'

  # Terraform Validate
  - task: TerraformTaskV4@4
    displayName: Terraform Validate
    inputs:
      provider: 'azurerm'
      command: 'validate'
      workingDirectory: 'terraform'

  # Terraform Plan
  - task: TerraformTaskV4@4
    displayName: Terraform Plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: 'terraform'
      commandOptions: "-var-file=../environment/$(parameters.environment).tfvars"
      environmentServiceNameAzureRM: 'Visual Studio Professional Subscription-LS'

# # Terraform Apply
  # - task: TerraformTaskV4@4
  #   displayName: Terraform Apply
  #   inputs:
  #     provider: 'azurerm'
  #     command: 'apply'
  #     workingDirectory: 'terraform'
  #     commandOptions: "-var-file=../environment/$(parameters.environment).tfvars -auto-approve"
  #     environmentServiceNameAzureRM: 'Visual Studio Professional Subscription-LS'

