trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

parameters:
  - name: environment
    displayName: "Environment"
    type: string
    default: "qa"
    values:
      - qa
      - prod

variables:
  environment: ${{ parameters.environment }}

steps:
  - checkout: self

  # Install Terraform
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y wget unzip
      wget https://releases.hashicorp.com/terraform/1.7.5/terraform_1.7.5_linux_amd64.zip
      unzip terraform_1.7.5_linux_amd64.zip
      sudo mv terraform /usr/local/bin/
      terraform -version
    displayName: "Install Terraform 1.7.5"

  # Login to Azure using Service Connection
  - task: AzureCLI@2
    displayName: "Azure Login"
    inputs:
      azureSubscription: "VS Professional Subscription-Nitin Pradhan"
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        echo "Azure Login Successful"
        az account show

  # ======================================================
  # Export ARM Credentials FOR TERRAFORM ONLY
  # ======================================================
  - script: |
      echo "Exporting ARM_* credentials for Terraform..."

      SP_ID=$servicePrincipalId
      SP_SECRET=$servicePrincipalKey
      TENANT_ID=$(az account show --query tenantId -o tsv)
      SUB_ID=$(az account show --query id -o tsv)

      echo "##vso[task.setvariable variable=ARM_CLIENT_ID;issecret=true]$SP_ID"
      echo "##vso[task.setvariable variable=ARM_CLIENT_SECRET;issecret=true]$SP_SECRET"
      echo "##vso[task.setvariable variable=ARM_TENANT_ID]$TENANT_ID"
      echo "##vso[task.setvariable variable=ARM_SUBSCRIPTION_ID]$SUB_ID"

      echo "Terraform authentication variables exported."
    displayName: "Export Terraform ARM Auth Vars"

  # Terraform Init
  - script: |
      terraform init \
        -backend-config="resource_group_name=tfstate-rg-monitoring" \
        -backend-config="storage_account_name=tfstatestoracct02" \
        -backend-config="container_name=tfstate" \
        -backend-config="key=$(environment).tfstate"
    workingDirectory: FailureDetections/terraform
    displayName: "Terraform Init"
    env:
      ARM_CLIENT_ID: $(ARM_CLIENT_ID)
      ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
      ARM_TENANT_ID: $(ARM_TENANT_ID)
      ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)

  # Terraform Validat
