steps:
  - checkout: self

  # Install Terraform manually
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y unzip wget
      wget https://releases.hashicorp.com/terraform/1.7.5/terraform_1.7.5_linux_amd64.zip
      unzip terraform_1.7.5_linux_amd64.zip
      sudo mv terraform /usr/local/bin/
      terraform -v
    displayName: "Install Terraform manually"

  # Terraform Init
  - script: |
      terraform init \
        -backend-config="storage_account_name=tfstatestoracct01" \
        -backend-config="container_name=tfstate" \
        -backend-config="key=$(environment).tfstate" \
        -backend-config="resource_group_name=tfstate-rg" \
        -backend-config="subscription_id=2e2c8853-dd2c-4e45-89b9-073ee228cfbf" \
        -backend-config="tenant_id=c160a942-c869-429f-8a96-f8c8296d57db" \
        -backend-config="client_id=${SERVICE_PRINCIPAL_ID}" \
        -backend-config="client_secret=${SERVICE_PRINCIPAL_KEY}"
    workingDirectory: FailureDetections/terraform/
    displayName: "Terraform Init"

  # Terraform Plan
  - script: |
      terraform plan -var-file="../environment/$(environment).tfvars"
    workingDirectory: terraform
    displayName: "Terraform Plan"


# # Terraform Apply
  # - task: TerraformTaskV4@4
  #   displayName: Terraform Apply
  #   inputs:
  #     provider: 'azurerm'
  #     command: 'apply'
  #     workingDirectory: 'terraform'
  #     commandOptions: "-var-file=../environment/$(parameters.environment).tfvars -auto-approve"
  #     environmentServiceNameAzureRM: 'Visual Studio Professional Subscription-LS'
