trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

parameters:
  - name: environment
    displayName: "Environment"
    type: string
    default: "qa"
    values:
      - qa
      - prod

variables:
  environment: ${{ parameters.environment }}

steps:
  - checkout: self

  # ---------------------------
  # Install Terraform manually
  # ---------------------------
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y wget unzip
      wget https://releases.hashicorp.com/terraform/1.7.5/terraform_1.7.5_linux_amd64.zip
      unzip terraform_1.7.5_linux_amd64.zip
      sudo mv terraform /usr/local/bin/
      terraform -v
    displayName: "Install Terraform 1.7.5"

  # ---------------------------
  # Terraform Init
  # ---------------------------
  - script: |
      terraform init \
        -backend-config="resource_group_name=tfstate-rg" \
        -backend-config="storage_account_name=tfstatestoracct01" \
        -backend-config="container_name=tfstate" \
        -backend-config="key=$(environment).tfstate"
    workingDirectory: terraform
    displayName: "Terraform Init (Backend from provider.tf)"

  # ---------------------------
  # Terraform Validate
  # ---------------------------
  - script: |
      terraform validate
    workingDirectory: FailureDetections/terraform
    displayName: "Terraform Validate"

  # ---------------------------
  # Terraform Plan
  # ---------------------------
  - script: |
      terraform plan -var-file="../environment/$(environment).tfvars"
    workingDirectory: FailureDetections/terraform
    displayName: "Terraform Plan"


# # Terraform Apply
  # - task: TerraformTaskV4@4
  #   displayName: Terraform Apply
  #   inputs:
  #     provider: 'azurerm'
  #     command: 'apply'
  #     workingDirectory: 'terraform'
  #     commandOptions: "-var-file=../environment/$(parameters.environment).tfvars -auto-approve"
  #     environmentServiceNameAzureRM: 'Visual Studio Professional Subscription-LS'
