steps:
  - checkout: self

  # Install Terraform manually
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y unzip
      wget https://releases.hashicorp.com/terraform/1.7.5/terraform_1.7.5_linux_amd64.zip
      unzip terraform_1.7.5_linux_amd64.zip
      sudo mv terraform /usr/local/bin/
    displayName: "Install Terraform manually"

  # Terraform Init
  - script: |
      terraform -version
      terraform init \
        -backend-config="resource_group_name=tfstate-rg" \
        -backend-config="storage_account_name=tfstatestoracct01" \
        -backend-config="container_name=tfstate" \
        -backend-config="key=${{ parameters.environment }}.tfstate"
    workingDirectory: terraform
    displayName: "Terraform Init"

  # Terraform Plan
  - script: |
      terraform plan \
        -var-file="../environment/${{ parameters.environment }}.tfvars"
    workingDirectory: terraform
    displayName: "Terraform Plan"
